@charset "UTF-8";
/* CSS Document */
#stockChart {
    width: 100%;
    height: 550px;
}

.am5stock-control-list-container23, .am5stock-control-drawing-tools {
    display: none !important;
}
.am5stock-control-label::after {
    content: ' line';
}
#histogram_chart, .heatChart_box img, .sectorMap_box img {
    width: 100%;
    height: 350px;
}
#range_chart {
    width: 100%; 
	height: 280px; 
}
@media only screen and (max-width: 1920px) {
#stockChart {
    height: 440px;
}
#histogram_chart, .heatChart_box img, .sectorMap_box img {
    height: 320px;
}
#range_chart {
    height: 260px; 
}
}
@media only screen and (max-width: 1600px) {
#stockChart {
    height: 350px;
}
#histogram_chart, .heatChart_box img, .sectorMap_box img {
    height: 230px;
}
#range_chart {
    height: 170px; 
}
}
@media only screen and (max-width: 1366px) {
#stockChart {
    height: 300px;
}
#histogram_chart, .heatChart_box img, .sectorMap_box img {
    height: 180px;
}
#range_chart {
    height: 120px; 
}
}
@media only screen and (max-width: 883px) {
#range_chart {
    height: 150px; 
}
}