@charset "UTF-8";
/* CSS Document */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@font-face {
    font-family: 'DMSans-Regular';
    src: url('../fonts/DMSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DMSans-Medium';
    src: url('../fonts/DMSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DMSans-Bold';
    src: url('../fonts/DMSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}