@charset "UTF-8";
/* CSS Document */
@media (max-width: 1920px) {
    .signUp_Box
    {
        max-width: 610px;
    }
    .platform_img
    {
        width:88%;
    }
    .newHome_5.indexSec_2
    {
        padding-top: 520px;
    }
    }
@media (max-width: 1680px) {

    }
@media (max-width: 1540px) {

}
@media (max-width: 1440px) {

    }
@media (max-width: 1399px) {
    .platform_img {
        width: 91%;
    }
.new_home.outer_banner {
    padding-top: 120px;
}
.new_home.outer_banner_2
{
    height: 780px;  
}
.newHome_5.indexSec_2 {
    padding-top: 450px;
}
.homeSec_para p {
    padding: 0 1%;
}

}
@media (max-width: 1280px) {
    .new_home.outer_banner {
        padding-top: 120px;
    }

    }

@media (max-width: 1199px) {
    .newHome_cont3 {
        height: 525px;
        margin-top:30px;
    }
.header_sec2 ul li a, .header_sec2 ul li button {
    font-size: 16px;
    margin-left: 20px;
}
.header_sec2 ul li a.trial_btn {
    margin-left: 10px;
    padding-right: 38px;
}
.homeSec_head {
    text-align: left;
}
.new_head2 .header_sec2 ul li a.testimonal_btn {
    padding: 3px 10px;
}
.newHome_5.indexSec_2 {
    padding-top: 430px;
}
.platform_img {
    width: 94%;
}
.newHome_cont2 li
{
    padding:20px;
}
.newHome_cont2 li p
{
    font-size:17px;
    margin-bottom:20px;
}
.btn_stroke
{
    border-radius:8px;
    padding: 10px 15px;
    font-size: 16px;
}
.lineChart_chrt1 {
    width: calc(100% - 245px);
}
.homeSec_21 ul
{
    gap: 30px;
}
.lineChart_dtl {
    width: 40%;
}
.lineChart_chrt
{
    gap:15px;
}
.overlay_gradient {
    height: 250px;
}
.newHome_cont1 li
{
    width: calc(25% - 10px);
    padding: 18px;
}
.newHome_cont1
{
    gap: 15px;
}
.newHome_cont2 li
{
    width: calc(50% - 5px);
}
.newHome_cont1 li h4
{
   font-size: 15px;
}
.newHome_5 .sponered_slider ul li:first-child img
{
    width:80%;
}
.newHome_5 .sponered_slider
{
    margin-top:20px;
}
}
@media (max-width: 1024px) {
  
}
@media (max-width: 991px) {
/*========== MOBILE MENU BEGIN ===========*/
.newHome_5.indexSec_2 {
    padding-top: 440px;
}
.newHome_5 .sponered_slider ul li .outer_box img
{
    height:auto;
}
.header_sec2 {
    position: relative;
}
.header_sec2 > ul {
    display: none;
}
body.open {
    overflow: hidden;
}
.header_sec2 {
    position: relative;
}
.header_sec2 > ul {
    display: none;
}
.mobile_menu {
    display: block;
}
.mobile_menu > .b-nav > a img {
    width: 110px;
    display: none;
}
.header_sec2 ul {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}
.header_sec2 ul li {
    width: 100%;
}
.header_sec2 ul li a, .header_sec2 ul li button {
    width: 100%;
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 20px;
}
.header_sec2 ul li a.signUp_btn, .header_sec2 ul li .trial_btn {
    padding: 11px 20px;
}
.header_sec2 ul li .trial_btn:after {
    top: 12px;
}
.live_item img {
    width: 58px;
}
.header_sec2 ul li a.trial_btn {
    margin-left: 0;
}
.b-link {
    font-family: 'Assistant-Regular';
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #f1f0f0;
}
.b-nav {
    background: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    opacity: 0;
    visibility: hidden;
    width: 420px;
    margin-right: -180px;
    padding: 30px;
    box-shadow: 0 5px 24px rgba(24, 24, 24, 0.27);
    transition: margin .2s;
    transition-timing-function: linear;
}
.b-nav.open {
    opacity: 1;
    visibility: visible;
    margin-right: 0;
}
.b-menu {
    cursor: pointer;
    display: block;
    position: relative;
    transition: unset;
    z-index: 12;
    top: 11px;
    left: 0;
    width: 26px;
    height: 18px;
}
.menu_head {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.menu_head img {
    width: 110px;
    display: none;
}
.b-menu2 {
    width: 100%;
    text-align: right;
}
.b-menu2 span {
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    position: relative;
    top: 8px;
}
.b-container.open .b-menu {
    display: none;
}
.b-bun--bottom, .b-bun--mid, .b-bun--top {
    height: 2px;
    width: 26px;
}
.b-bun {
    position: relative;
    background: #000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.b-bun--top {
    top: 0;
}
.b-bun--mid {
    top: 6px;
}
.b-bun--bottom {
    top: 12px;
}
.b-container {
    width: 26px;
    height: 38px;
}
.b-container.open .b-bun--top {
    background: #000000;
    top: 13px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.b-container.open .b-bun--mid {
    opacity: 0;
}
.b-container.open .b-bun--bottom {
    background: #000000;
    top: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.new_head2 .b-bun {
    background: #ffffff;
}
.new_head2 .header_sec2 ul li a, .new_head2 .header_sec2 ul li button {
    color: #000000;
}
.new_head2 .header_sec2 ul li button {
    text-align: left;
}
.new_head2 .header_sec2 ul li a.signUp_btn {
    border: 1px solid #242947;
    padding: 10px 20px;
}
.new_head2 .header_sec2 ul li a.trial_btn, .new_head2 .header_sec2 ul li button.trial_btn {
    margin-left: 0;
    color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 0;
}
.new_head2 .header_sec2 ul li a.testimonal_btn {
    display: inline-block;
    padding: 10px 30px;
    width: unset;
}
.newHome_cont3 {
    height: 390px;
}
/*============ MOBILE MENU END ==============*/
.header_1 {
    padding: 15px 0;
}
.container_mobile
{
    max-width:970px; 
    padding-right: 15px;
    padding-left: 15px;
}
.home_22
{
    height:auto;
}
}
@media (max-width: 767px) {
.footer_outer11 ul li img {
    width: 35px;
}
.newHome_cont3 {
    height: 307px;
}
.secMap_legends.stok_crtLen
{
    justify-content: space-between;
}
.home_21 > img {
    width: 140px;
}
.newHome_7 ul li{
    margin-bottom:10px;
}
.newHome_6
{
    padding:30px 0;
}
.header_sec2 ul .button_mobile {
    display:flex;
};
.newHome_7 ul li{
    margin-bottom:10px;
}
.home_21 > img
{margin-bottom:-5px;}
.header_sec2 ul li a, .header_sec2 ul li button
{
    font-size:16px;
}
.newHome_71 {
    margin-top: 20px;
}
.newHome_2
{
    padding:30px 0;
}
.div_1
{
    left:0;
}
.new_home.outer_banner_2
{
    height: 570px;
}
.signUp_Box input
{
    width: calc(100% - 166px);
}
.new_home.outer_banner_2
{
    padding-bottom:150px;
    margin-top: -133px;
}
.featSec_2 .image_1
{
    display:none;width:100%
}
.featSec_2  .image_2
{
    display:block;width:100%;
    margin-top:30px;
}
.footer_outer2 {
    margin-top: 20px;
    align-items: flex-start;
    flex-direction: column-reverse;
}
.footer_outer2 ul {
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
}
.new_home h1,.newHome_head1 h3, .newHome_head2 h3, .newHome_head3 h3, .newHome_head4 h3, .newHome_5.indexSec_2 h3, .newHome_62 h3, .featSec_2 h3, .homeSec_21 h4{
    font-size: 28px;
    line-height: 41px;
    margin-bottom: 0;
    }
.new_home .inner_banner h2 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 5px;
    }
    .new_home .inner_banner h3
    {
        font-size: 25px;
        line-height: 36px;
    }
    .inner_box {
        margin-top: 10px;
    }
    .newHome_foot1
    {
        border-radius: 90px;
    }
    .newHome_5.indexSec_2 {
        padding-top: 380px;
    }
.inner_banner .signUp_Box button {
    padding: 12px;
}
.newHome_5 .sponered_slider {
    margin-top: 10px;
}
.sponered_slider ul {
    width: calc(100% - 10px);}
    .newHome_5.indexSec_2
    {
        padding-bottom: 30px;
    }
    .homeSec_head h3
    {
        text-align:left;
        line-height: 40px;
        font-size: 28px;
    }
    .homeSec_21 h4,.featSec_2 h3{
        margin-bottom:20px;
    }
    .home_21 {
        justify-content: space-between;}
    .home_21 > span
    {
        line-height:17px;
        font-size: 20px;
    }
    .sector_btn{
        width:50%;
    }
    .newHome_7 ul
    {
        column-count: 1;
    }
    .overlay_gradient {
        height: 420px;
    }
    .newHome_7
    {
        padding: 40px 10px;
    }
    .newHome_cont2 li:nth-child(5), .newHome_cont2 li:nth-child(6), .newHome_cont2 li:nth-child(7), .newHome_cont2 li:nth-child(8), .newHome_cont2 li:nth-child(9), .newHome_cont2 li:nth-child(10) {
        width: calc(50% - 5px);
    }
    .newHome_cont1 {
        flex-wrap: wrap;
    }
    .newHome_cont1 li {
        width: calc(50% - 10px);
    }
    .newHome_cont6,.footer_outer1, .footer_outer12,.lineChart_chrt
    {
       flex-direction: column;
       padding: 0;
    }
    .newHome_61,.newHome_62 {
        width: calc(100% - 0px);
    }
    .footer_outer1, .footer_outer12
    {
    gap:20px
    }
    .lineChart_chrt1, .lineChart_dtl
    {
        width:100%
    }
    .home_22
    {
        height:auto;
        padding: 20px;
        border-radius: 10px;
    }
    .homeSec_21 ul li:last-child {
        grid-row: 3;
        grid-column: 1 / 3 span;
    }
    .homeSec_21 ul li:nth-child(2) {
        grid-column: 1 / 3 span;
    }
    .newTestimonial_1{
        margin-top: 25px;
    }
.newTestimonial ul li{
    margin-bottom: 25px;
    }
    .newTestimonial{
        width: 100%;    
        padding:  30px 0;  
    }
}

@media (max-width: 720px) { 
.b-nav {
    width: 360px;
}
.newHome_5.indexSec_2 {
    padding-top: 350px;
}
.newHome_5 .sponered_slider {
    margin-top: 20px;
}
}
@media (max-width: 575px) { 
.b-nav {
    width: 320px;
    padding: 25px;
}
.home_21 > img {
    width: 120px;
}
.yellow_btn
{
    font-size:15px;
}
.new_home.outer_banner_2
{
    height: 560px;
}
.newHome_5.indexSec_2 {
    padding-top: 270px;
}
.b-nav {
    width: 100%;
    background: rgb(255 255 255 / 98%);
}
.newHome_cont2 li,.newHome_cont2 li:nth-child(5), .newHome_cont2 li:nth-child(6), .newHome_cont2 li:nth-child(7), .newHome_cont2 li:nth-child(8), .newHome_cont2 li:nth-child(9), .newHome_cont2 li:nth-child(10),.newHome_cont1 li
{
    width:100%;
}
.newHome_cont1 li h4 {
    font-size: 20px;
}
.newHome_cont1 li{padding:30px;}
}
@media (max-width: 540px) { 
    .newHome_5.indexSec_2 {
        padding-top: 230px;
    }
    .platform_img {
        width: 90%;
    }
    .newHome_cont3 {
        height: 288px;
    }
}
@media (max-width: 480px) { 
    .new_home.outer_banner_2 {
        height: 570px;
    }
}
@media (max-width: 414px) { 
    .top_header p, .top_header p a
    {
        font-size:14px;
    }
    .new_home.outer_banner_2 {
        height: 660px;
    }
    .newHome_cont6{
        gap:30px;
    }
    .newHome_62 .signUp_Box{
        gap:10px;
    }
    .overlay_gradient {
        height: 270px;
    }
    .newHome_foot1 {
        border-radius: 90px;
        text-align: center;
    }
    .div_2
    {
        margin:0 auto;
    }
    .div_1 img
    {
        width:100%;
    }
    .newHome_foot1 {
        border-radius: 20px;
        flex-wrap: wrap;
        gap:20px;
    }
    .newHome_5.indexSec_2 {
        padding-top: 140px;
    }
    .read_btn img {
        width: 105px;
        padding-right: 10px;
        margin-right: 10px;
    }
    .new_home .inner_banner h3 {
        font-size: 22px;
        line-height: 31px;
    } 
    .sector_btn{width:100%;}
    .home_21
    {
        flex-wrap: wrap;
        gap: 10px;
    }
    .yellow_btn {
        font-size: 14px;
    }
    .newHome_cont3 {
        height: 210px;
    }
    .signUp_Box
    {
        flex-wrap: wrap;
        gap:5px;
    }
    .signUp_Box input {
        width: 100%;
    }
    .inner_banner .signUp_Box button {
        width: auto;
        padding: 12px 17px;
    }
}


@media (max-width: 400px) { 
    .b-nav {
        padding: 20px;
    }
    .new_home .inner_banner h3 {
        font-size: 27px;
        line-height: 38px;
    }
    .newHome_5 .sponered_slider {
        margin-top: 10px;
    }
    .signUp_Box
    {
        gap:5px;
    }
    .new_home.outer_banner_2
    {
        padding-bottom:90px;
    }
    .read_btn img {
        width: 115px;
        padding-right: 10px;
        margin-right: 10px;
    }
    .home_21
    {
        flex-wrap: wrap;
    }
    .newHome_foot1 .div_1 img{
        width:100%;
    }
    .newHome_foot1
    {
        flex-direction: column;
        margin-top: 60px;
        gap:20px;
        padding: 10px 0;
    }
    .newHome_foot1 p{text-align:center;font-size:18px;}
    .newHome_7 ul li{margin-bottom:10px;}
    .newHome_5.indexSec_2 { padding-top: 190px;}
    }
@media(max-width:390px)
{
    .new_home.outer_banner_2 {
        height: 660px;
    }
    .newHome_cont3 {
        height: 200px;
    }
    .yellow_btn {
        font-size: 13px;
    }
    .platform_img {
        width: 89%;
    }
    .newHome_5.indexSec_2 {
        padding-top: 180px;
    }
}
@media (max-width: 360px) { 
.b-nav {
    padding: 20px;
}
.new_home h1, .newHome_head1 h3, .newHome_head2 h3, .newHome_head3 h3, .newHome_head4 h3, .newHome_5.indexSec_2 h3, .newHome_62 h3, .featSec_2 h3, .homeSec_21 h4
{
    font-size: 25px;
    line-height: 34px; 
}
.new_home .inner_banner h3 {
    font-size: 22px;
    line-height: 30px;
}
.homeSec_para p, .featSec_2 p, .homeSec_21 p {
    font-size: 16px;
    line-height: 28px;
}
.image_box_Features {
    margin-bottom: 10px;
}
.newHome_cont2 li p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 25px;
}
.new_home .inner_banner h2 {
    font-size: 18px;
}
.read_btn img {
    width: 85px;
}
.signUp_Box button, .signUp_Box input
{
    font-size:16px;
}
.newHome_5.indexSec_2 {
    padding-top: 110px;
}
.newHome_5.indexSec_2 {
    padding-bottom: 20px;
}
.newHome_5 .sponered_slider ul li .outer_box img {
    height: auto;
}
.button_centerAlign {
    left: 44%;
    transform: translate(-40%, 50px);
}
.newHome_cont3 { height: 187px;}
.yellow_btn {font-size:13px;}
}
@media (max-width:350px) { 
.b-nav {padding:15px;}
.newHome_cont3 { height: 182px; }
.new_home.outer_banner_2 { height: 620px; }
.newHome_5.indexSec_2 {padding-top:120px;}
.read_btn{margin-top:20px}
.read_btn span {font-size:13px;}
.read_btn img {width:85px;margin-right:0;}
.platform_img {margin-top: 20px;}
}

